.add-item {
  margin-top: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateX(-20px);

  &::before {
    content: "";
    position: absolute;
    left: calc(50%);
    top: -50px;
    width: 3px;
    height: 50px;
    background-color: $color-grey;
  }
}

.add-item__button {
  position: relative;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-hover;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 50%;
    height: 1px;
    background-color: $color-jade;
    transform: translateX(-50%);
  }

  &::after {
    transform: translateX(-50%) rotate(90deg);
  }

  & span {
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
  }
}
