.element {
  background-color: $color-grey;
  background-image: url("../server.svg");
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  margin-right: 75px;
  cursor: move;
  transition: all 0.3s ease;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-hover;
  }

  & span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -18px;
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
