.process {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
}

.process__start {
  width: 100%;
  min-height: 80px;
  position: relative;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    left: calc(50% - 20px);
    bottom: 0;
    width: 3px;
    height: calc(50% + 10px);
    background-color: $color-grey;
  }
}

.process__start span {
  padding-left: 20px;
  position: relative;
  left: 50%;
  font-size: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    height: 36px;
    width: 36px;
    background-color: $color-jade;
    top: -10px;
    left: -36px;
  }

  &::after {
    height: 50px;
    width: 50px;
    border: 3px solid $color-grey;
    top: -17px;
    left: -43px;
  }
}
