.stage {
  background-color: $color-lightgrey;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.stage__info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid $color-chalk;
  margin-bottom: 20px;
}

.stage__collapse {
  margin-right: auto;
  margin-bottom: 5px;
  background: none;
  display: block;
  width: 26px;
  height: 26px;
  border: 2px solid $color-grey;
  border-radius: 50%;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 50%;
    height: 2px;
    display: block;
    position: absolute;
    background-color: $color-jade;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  &--closed::after {
    transform: translate(-50%) rotate(90deg);
  }
}

.stage__row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 60px;
  margin-bottom: 40px;
}

.stage__title {
  margin: 0;
  margin-right: 20px;
  width: 130px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  border: 2px solid $color-chalk;
  border-radius: 30px;
  cursor: move;
}

.stage__time {
  font-size: 14px;
  margin: 0;
  margin-right: 75px;
  position: relative;

  & span {
    display: block;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
  }

  & b {
    display: block;
    padding: 5px;
    border: 2px solid $color-chalk;
    border-radius: 30px;
    font-size: 12px;
  }
}
